@model inForce.Models.Client

@{
    ViewBag.Title = "SingleIndex";
}

<h2>SingleIndex</h2>

<div>
    <h4>Client</h4>
    <hr />
    <div>
        @Html.DisplayForModel()
    </div>
    @*<dl class="dl-horizontal">

        @*<dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyNumber)
        </dd>*@

    @*</dl>*@
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
